<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.origin.admin.mapper.SysExcLogsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.origin.admin.entity.po.SysExcLogs">
        <id column="exc_id" property="excId" />
        <result column="exc_requ_param" property="excRequParam" />
        <result column="exc_name" property="excName" />
        <result column="exc_message" property="excMessage" />
        <result column="oper_user_id" property="operUserId" />
        <result column="oper_user_name" property="operUserName" />
        <result column="oper_method" property="operMethod" />
        <result column="oper_uri" property="operUri" />
        <result column="oper_ip" property="operIp" />
        <result column="exc_requ_time" property="excRequTime" />
        <result column="exc_create_time" property="excCreateTime" />
    </resultMap>

</mapper>
